.tag {
  font-family: "Open Sans";
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  margin: 5px;
  color: white;
  text-shadow: 1px 2px 1.5px #252a34;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
